{% comment %}
  For Back to top
{% endcomment %}

<div class="backtop">
  <button id="backToTop">
    <svg class="progress-ring" width="60" height="60">
      <circle class="progress-ring__circle" stroke="#fff" stroke-linecap="round" stroke-width="6" fill="transparent" r="24" cx="30" cy="30"></circle>
    </svg>
    <div class="inner">
      {% render 'icon-top-bottom' %}
    </div>
  </button>
</div>
