{%- if product.description != blank -%}
  <div class="product__description rte quick-add-hidden" {{ block.shopify_attributes }}>
    {{ product.description }}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-product.blocks.description.name",
  "settings": [],
  "presets": [
    {
      "name": "t:sections.main-product.blocks.description.name"
    }
  ]
}
{% endschema %}
