<p
  class="product__sku{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if product.selected_or_first_available_variant.sku.size == 0 %} visibility-hidden{% endif %}"
  id="Sku-{{ section.id }}"
  role="status"
  {{ block.shopify_attributes }}
>
  <span class="visually-hidden">{{ 'products.product.sku' | t }}:</span>
  {{- product.selected_or_first_available_variant.sku -}}
</p>

{% schema %}
{
  "name": "t:sections.main-product.blocks.sku.name",
  "settings": [
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "body",
          "label": "t:sections.main-product.blocks.sku.settings.text_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.main-product.blocks.sku.settings.text_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.main-product.blocks.sku.settings.text_style.options__3.label"
        }
      ],
      "default": "body",
      "label": "t:sections.main-product.blocks.sku.settings.text_style.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-product.blocks.sku.name"
    }
  ]
}
{% endschema %}
