{% liquid
  assign product = product
  assign block_title = block.settings['block-title-text']
  assign block_title_color = block.settings['block-title-color']
%}

<style>
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-container p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
</style>

<div class="content-container">
  {% if block_title %}
    <p
      {% if block_title_color %}
        style="color : {{block_title_color}};"
      {% endif %}
    >
      {{ block_title }}
    </p>
  {% endif %}

  {% content_for 'blocks' %}
</div>

<script>
  class BulkAddToCartButton extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      const bgColor = this.getAttribute('bg-color');
      const productId = this.getAttribute('product-id');
      const quantityToAdd = this.getAttribute('quantity-to-add');

      this.shadowRoot.innerHTML = `
            <button style="background-color: ${bgColor};">
                <slot name="btn_text"></slot>
            </button>
            `;

      this.shadowRoot.querySelector('button').addEventListener('click', () => {
        // Logic to add the product to the cart
        console.log(`Adding product ${productId} with quantity ${quantityToAdd} to cart.`);
      });
    }
  }
</script>

{% schema %}
{
  "name": "Stack Bundler",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Main block Settings"
    },
    {
      "type": "text",
      "id": "block-title-text",
      "label": "Block Tile Text",
      "default": "Buy More, Save More!!!"
    },
    {
      "type": "color",
      "id": "block-title-color",
      "label": "Block Title Color",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "block-divider-color",
      "label": "Block Divider Color",
      "default": "#121212"
    }
  ]
}
{% endschema %}
