<div class="custom-section page-width">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Custom Section",
  "settings": [],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Custom Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
